

.pokemon-detail span {
  display: block;
  color:antiquewhite;
  background: #06021a;
    
}


.poke{
  width: 400px;
  height: 400px;
}

.poke2{
   border: 1.5px;
  border-radius: 2px;
  background-color: rgb(7, 7, 102);;
}